

@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<p>
    <a class="btn btn-danger" href="/Posts/">See All Questions</a>
    <a class="btn btn-danger" href="/Posts/Create">Ask a Question</a>
    <a class="btn btn-danger" href="/Jobs">Jobs</a>

</p>
<style>
    body {
        background-image: url('https://www.aiub.edu/Files/Uploads/original/banner-3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
