
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (TempData["msg"] != null)
{
    <span class="label-danger">@TempData["msg"]</span>
}
<form action="/Home/Login" method="post">
    <input type="text" name="Email" placeholder="Enter Your Email"/> <br/>
    <input type="password" name="Password" placeholder="Enter Your Password"/> <br/>
    <input type="submit" name="Login" class="btn btn-success"/>

</form>