@model AIUB_Forum.Models.Database.Post

@{
    ViewBag.Title = "Create";
}
<div>
    <a class="btn btn-default" href="/Posts">Browse all Questions</a>
</div>
<h2>Create</h2>

<div class="form-horizontal">
    <h4>Question</h4>
    <hr /> 
    <form action="/Posts/Create" method="post">
        <input type="hidden" name="CreateDate" value=@DateTime.UtcNow.Date/>edit here
        <input type="hidden" name="Score" value="0"/>
        <input type="hidden" name="views" value="0"/>
        <input type="hidden" name="UserId" value="2" />
        <input type="hidden" name="AnswerCount" value="0"/>
        <input type="hidden" name="CoummentsCount" value="0"/>
        <input type="hidden" name="" />
        <label for="Title" class="label">Title</label>
        <input type="text" name="Title" placeholder="Title" class="form-control" />
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        <label for="Body" class="label">Body</label>
        <textarea name="Body" class="form-control"></textarea>
        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        <input type="submit" value="Create" class="btn btn-default" />
    </form>
    
    
</div>



